<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FMInder - Chat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navigation">
        <ul>
            <li><a href="/api/matches" id="nav-matches">Matches</a></li>
            <li><a href="/api/messages" id="nav-messages">Messages</a></li>
            <li><a href="/api/profile" id="nav-profile">Profile</a></li>
        </ul>
    </nav>
    <div class="container" id="container">
        <h1>FMInder</h1>
        <div class="chat-container">
            <ul class="messages" id="messagesList">
            </ul>
        </div>
        <div class="chat-input-container">
            <input type="text" id="messageInput" placeholder="Type your message...">
            <button id="sendButton">Send</button>
        </div>
    </div>
</body>
<script th:src="@{/js/chat.js}"></script>
</html>