<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Matches</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navigation">
        <ul>
            <li><a href="/api/matches">Matches</a></li>
            <li><a href="/api/messages">Messages</a></li>
            <li><a href="/api/profile">Profile</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>FMInder</h1>
        <div class="match-container">
            <h2>Match Requests</h2>
            <ul class="requests-list">
            </ul>
        </div>
        <div class="match-container">
            <h2>Potential Matches</h2>
            <ul class="potential-matches-list">
            </ul>
        </div>
    </div>
</body>
<script th:src="@{/js/matches.js}"></script>
</html>