<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Matches</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>
    <div class="container">
        <h1>FMInder</h1>
        <h2>Match Requests</h2>
        <div class="match-container">
            <ul class="requests-list">
                <li>
                    <div class="profile-info">
                        <img src="../assets/images/placeholder.png" alt="Profile Picture">
                        <span>User Longnameeeeeeeee</span>
                    </div>
                    <div class="action-buttons">
                        <button class="accept-button">Accept</button>
                        <button class="decline-button">Decline</button>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="../assets/images/placeholder.png" alt="Profile Picture">
                        <span>User A</span>
                    </div>
                    <div class="action-buttons">
                        <button class="accept-button">Accept</button>
                        <button class="decline-button">Decline</button>
                    </div>
                </li>
            </ul>
        </div>
        <h2>Potential Matches</h2>
        <div class="match-container">
            <ul class="potential-matches-list">
                <li>
                    <div class="profile-info">
                        <img src="../assets/images/placeholder.png" alt="Profile Picture">
                        <span>User B</span>
                    </div>
                    <div class="action-buttons">
                        <button class="send-request-button">Connect</button>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="../assets/images/placeholder.png" alt="Profile Picture">
                        <span>User B</span>
                    </div>
                    <div class="action-buttons">
                        <button class="send-request-button">Connect</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>