<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMInder - Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navigation">
        <ul>
            <li><a href="/api/matches" id="nav-matches">Matches</a></li>
            <li><a href="/api/messages" id="nav-messages">Messages</a></li>
            <li><a href="/api/profile" id="nav-profile">Profile</a></li>
        </ul>
    </nav>
    <div class="container" id="container">
        <h1>FMInder</h1>
        <div class="profile-section">
            <h2>Profile Information</h2>
            <div class="profile-user-info">
                <div class="user-info" id="user-info">
                </div>
            </div>
            <div class="profile-user-actions">
            </div>
        </div>
    </div>
    <script th:src="@{/js/profile.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
</body>
</html>