<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container" id="container">
        <h1>FMInder</h1>
<!--        <div class="match-container">-->
<!--            <h2>My Matches</h2>-->
<!--            <ul class="matches-list">-->
<!--            </ul>-->
<!--        </div>-->
        <div class="profile-section">
            <h2>Profile Information</h2>
            <div class="profile-user-info">
                <div class="user-info" id="user-info">
                </div>
            </div>
            <div class="profile-user-actions">
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/matches.js}"></script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/logout.js}"></script>
</html>