<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>FMInder</h1>
        <div class="login-container">
            <h2>Register</h2>
            <form action="#" method="post" id="registrationForm">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="repeat-password" placeholder="Repeat Password" required>
                <input type="text" name="first-name" placeholder="First Name" required>
                <input type="text" name="last-name" placeholder="Last Name" required>
                <select name="gender" required>
                    <option value="" disabled selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <input type="number" name="class-year" placeholder="Class of (year)" pattern="[0-9]{4}" title="Enter a year between 2000 and 2028" required>
                <select name="major" required>
                    <option value="" disabled selected>Major in</option>
                    <option value="DATA_ANALYSIS">Data Analysis</option>
                    <option value="MATHEMATICS">Mathematics</option>
                    <option value="APPLIED_MATHEMATICS">Applied Mathematics</option>
                    <option value="STATISTICS">Statistics</option>
                    <option value="INFORMATICS">Informatics</option>
                    <option value="INFORMATION_SYSTEMS">Information Systems</option>
                    <option value="COMPUTER_SCIENCE">Computer Science</option>
                    <option value="SOFTWARE_ENGINEERING">Software Engineering</option>
                </select>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
<script th:src="@{/js/register.js}"></script>
</html>